
$s-black: rgba(18, 3, 9, 1);
$p-purple: rgba(93, 38, 95, 1);
$t-grey: rgba(127, 123, 130, 1);
$gainsburo: rgba(206, 224, 220, 1);
$white: rgba(255, 255, 255, 1);

$shoulders-text: 'Big Shoulders Text', cursive;